<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
</head>
<body>
    <h1>Bienvenido a Symfony</h1>

    <a href="{{ path('app_about') }}">
        <button>Comencemos</button>
    </a>
</body>
</html>
